.hero {
    padding-top: 0;
}

.hero__container {
    display: flex;
    gap: 10px;
}

.hero__content {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.hero__title {
    margin-bottom: 32px;
}

.hero__description {
    flex-grow: 1;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 32px;
}

.hero__slider-block {
    flex-basis: 50%;
}

.hero__image {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 12px;
}

.hero__slider{
    position: relative;
}

.hero__arrow{
    position: absolute;
    bottom: 50px;
    right: 50px;
    display: flex;
    gap: 8px;
}

.hero__slider-btn {
    display: block;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background: #FFC700 url('../image/arrow.svg') no-repeat center;
    border: 0;
    padding: 0;
    cursor: pointer;
}

.hero__slider-btn_prev {
    transform: rotate(180deg);
}

.hero__slider-btn_next {}